<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet", href="css/styles.css">
    </head>

    <body>
        {{>header}}
        <img src="img/sample.png">
        {{>footer}}
     </body>
</html>